<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Filter</key>
  <dict>
    <key>Bundles</key>
    <array>
      <string>net.whatsapp.WhatsApp</string>
       <string>com.viber</string>
       <string>com.apple.MobileSMS</string>
       <string>com.apple.mobilemail</string>
       <string>com.apple.mobilephone</string>
       <string>com.burbn.instagram</string> 
       <string>com.blackberry.bbm1</string>
       <string>com.skype.skype</string>
       <string>com.apple.facetime</string>
       <string>com.tapbots.Tweetbot3</string>
       <string>com.facebook.Messenger</string>
       <string>com.apple.springboard</string>
    </array>
  </dict>
</dict>
</plist>
